.wrapper {
  display: flex;
}
.search-form {
  display: block;
  padding: 30px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 1px 23px -1px rgba(0,0,0,0.4);
}
.search-form__title {
  margin: 0;
  padding: 0;
}
.search-form__desc {
  padding: 0;
}
.search-form__textarea {
  min-width: 650px;
  min-height: 100px;
  margin: 0;
  border-radius: 5px;
}
.search-form__remark {
  width: 585px;
}
.search-form__btn {
  padding: 6px 19px;
  color: white;
  background-color:rgba(0,131,214,1);
  box-shadow: 0px 3px 18px -2px rgba(0,0,0,0.35);
  border: 0px;
  border-radius: 20px;
}

.hidden {
  display: none;
}

