@import url('https://fonts.googleapis.com/css?family=Roboto');

$base-font: 'Arial';
$base-size: 24px;
$base-weight: 900;
$title-padding: 3em;

.search-form__title {
 font-family: $base-font;
 font-size: $base-size;
 font-weight: $base-weight;
 padding: $title-padding;
}

